<%- include('../partials/header', {title: 'Memeodex: Virtual Meme Rolodex'})%>
<header>
<br/>
    <section>
        <h4><a href='/memes/new' class="clickable waves-effect waves-light">Click to add a Meme!</a></h4>
    </section>
</header>    
<main>
    <h4>Explore these dank Memes</h4>
    <div class="all-meme-container">
        <% for(let i = 0; i < memes.length; i++){ %>
                <div class='meme-img-container'>
                    <div class='waves-effect waves-light'>
                        <% if(memes[i].isVideo){%>
                            <div class="iframe-div">
                            <iframe width="200" height="118" src="<%=memes[i].urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='memeImg'></iframe>
                            <a href="/memes/<%=memes[i]._id%>" class="iframe-link"></a>
                            </div>
                        <%} else {%>
                        <a href="/memes/<%=memes[i]._id%>"><img src="<%=memes[i].urlMeme%>" class='memeImg'/></a>
                        <%}%>
                    </div>
                    <li>
                        <a href="/memes/<%=memes[i]._id%>"><%=memes[i].title%></a>
                    </li>
                </div>
                <% } %>
    </div>
</main>
<%- include('../partials/footer')%>