<%- include('../partials/header', {title: 'Memeodex: View a Meme'})%>
    <main>
        <section>
            <div>
                <h5>Meme Title</h5>
                <%=meme.title%><br/>
                <h5>Meme Description</h5> <%=meme.description%><br/>
                Posted By: <a href='/users/<%=user._id%>'> <%=user.username%></a>
            </div><br/>
            <div>
                <% if(meme.isVideo){%>
                    <iframe width="200" height="118" src="<%=meme.urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='memeImg'></iframe>
                <%} else {%>
                <img src="<%=meme.urlMeme%>" class='memeImg'/>
                <%}%>
            </div>
        </section>
        <section>
            <%if(meme.tag) { %>
                tags: <%=meme.tag%>
            <%}%>
        </section>
        <section>
        <% if (userId === user._id.toString()) { %>
            <button id="myBtn3">Delete Meme</button>
            <div id="myModal3" class="my-modal">
            <div class="modal-stuff">
                <span id="close3">&times;</span>
                <div class="modal-text"> Are you sure you want to delete your Meme?</div>
                <br/>
                <form action="/memes/<%=meme._id%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Meme" class="login-modal"/>
                </form>
            </div>
            </section>
            <section>
            <a href="/memes/<%=meme._id%>/edit">Edit</a>
            </section>
        <%}%>
    </main>

<%- include('../partials/footer')%>