<%- include('../partials/header', {title: 'Memodex Meme Index'})%>
<%- include('../partials/logout')%>
    <main>
        <section>
            <h2>Meme Details:</h2>
                <ul>
                    <li>Meme Title: <%=meme.title%></li><br/>
                    <div>Meme Description: <%=meme.description%></div>
                    <div>Posted By: <%=user.username%></div><br/>
                    <div>
                        <% if(meme.isVideo){%>
                            <iframe width="200" height="118" src="<%=meme.urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='memeImg'></iframe>
                        <%} else {%>
                        <img src="<%=meme.urlMeme%>" class='memeImg'/>
                        <%}%>
                    </div>
                </ul>
        </section>
        <section>
        <button id="myBtn">Delete Meme</button>
        <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <br/>
            <div> Are you sure you want to delet your Meme?</div>
            <br/>
            <form action="/memes/<%=meme._id%>?_method=DELETE" method="post">
                <input type="submit" value="Delete Meme"/>
            </form>
        </div>
        </section>
    <section>
        <a href="/memes/<%=meme._id%>/edit">Edit</a>
    </section>
    </main>


    <script>
    var modal = document.getElementById("myModal");

    var btn = document.getElementById("myBtn");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
    modal.style.display = "block";
    }

    span.onclick = function() {
    modal.style.display = "none";
    }

    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
    </script>


<%- include('../partials/footer')%>