<%- include('../partials/header', {title: 'Memodex Meme Index'})%>
<%- include('../partials/logout')%>
    <main>
        <section>
            <h2>Meme Details:</h2>
                <ul>
                    <li>Meme Title: <%=meme.title%></li><br/>
                    <div>Meme Description: <%=meme.description%></div>
                    <div>Posted By: <%=user.username%></div><br/>
                    <div>
                        <% if(meme.isVideo){%><%=message%>
                            <iframe width="200" height="118" src="<%=meme.urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='memeImg'></iframe>
                        <%} else {%>
                        <img src="<%=meme.urlMeme%>" class='memeImg'/>
                        <%}%>
                    </div>
                </ul>
        </section>
        <section>
        <% if (userId === user._id.toString()) { %>
            <button id="myBtn">Delete Meme</button>
            <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <br/>
                <div> Are you sure you want to delete your Meme?</div>
                <br/>
                <form action="/memes/<%=meme._id%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Meme"/>
                </form>
            </div>
            </section>
            <section>
            <a href="/memes/<%=meme._id%>/edit">Edit</a>
            </section>
        <%}%>
    </main>

<%- include('../partials/footer')%>