<%- include('../partials/header', {title: 'Memeodex: View a Meme'})%>
    <main>
        <br/>
        <section>
            <div>
                <h5>Title</h5>
                <%=meme.title%><br/>
                <h5>Description</h5> <%=meme.description%><br/>
                <br/>
                Posted By: <a href='/users/<%=user._id%>'> <%=user.username%></a>
            </div><br/>
            <div>
                <% if(meme.isVideo){%>
                    <iframe width="200" src="<%=meme.urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='meme-show-vid'></iframe>
                <%} else {%>
                <img src="<%=meme.urlMeme%>" class='meme-show-img'/>
                <%}%>
            </div>
        </section>
        <br/>
        <section>
            <%if(meme.tag) { %>
                Tags: <%=meme.tag%>
            <%}%>
        </section>
    <div class='user-show-button-container'>
        <section>
        <% if (userId === user._id.toString()) { %>
            <button id="myBtn3" class="clickable waves-effect waves-light user-show-button">Delete Meme</button>
            <div id="myModal3" class="my-modal">
            <div class="modal-stuff">
                <span id="close3">&times;</span>
                <div class="modal-text"> Are you sure you want to delete your Meme?</div>
                <br/>
                <form action="/memes/<%=meme._id%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Meme" class="login-modal"/>
                </form>
            </div>
            </section>
            <section>
            <a href="/memes/<%=meme._id%>/edit" class="clickable waves-effect waves-light user-show-button">Edit Meme</a>
            </section>
        <%}%>
        </div>
    </main>
<br/>
<%- include('../partials/footer')%>