<%- include('../partials/header', {title: 'Memodex Meme Index'})%>
    <main>
        <section>
            <h2>Meme Details:</h2>
                <ul>
                    <li>Meme Title: <%=meme.title%></li><br/>
                    <div>Meme Description: <%=meme.description%></div>
                    <div>Meme Image</div><br/>
                    <img src="<%=meme.urlMeme%>"/></div>
                </ul>
        </section>
        <section>
          <form action="/memes/<%=meme._id%>?_method=DELETE" method="post">
              <input type="submit" value="Delete Meme"/>
          </form>
        </section>
        <section>
          <a href="/memes/<%=meme._id%>/edit">Edit</a>
        </section>
        </main>
<%- include('../partials/footer')%>