<%- include('../partials/header', {title: 'Memodex: User Profile'})%>
<%- include('../partials/logout')%>
<header>
<h1>Hi, <%=user.username%></h1>
</header>
<main>
Username:<%=user.username%><br/>
 <% if (userId === user._id.toString()) { %>
    Name: <%=user.name%><br/>
    Email:<%=user.email%><br/>
    Date of birth:<%=user.dob%><br/>
    <%}%>
profileImg:<img src='<%=user.profileImg%>' alt='user profile photo'><br/>
<a href='/memes/new'>click here to add a meme</a><br/>
Your Memes:
    <section class="all-meme-container">
        <% for(let i = 0; i < memes.length; i++){ %>
                    <div class="meme-img-container">
                        <% if(memes[i].isVideo){%>
                            <div class="iframe-div">
                            <iframe width="200" height="118" src="<%=memes[i].urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='memeImg'></iframe>
                            <a href="/memes/<%=memes[i]._id%>" class="iframe-link"></a>
                            </div>
                        <%} else {%>
                            <a href="/memes/<%=memes[i]._id%>"><img src="<%=memes[i].urlMeme%>" class='memeImg'/></a>
                        <%}%>
                    </div>
                <% } %>
    </section>
<% if (userId === user._id.toString()) { %>
    <button id="myBtn">Delete Profile and All Memes Associated</button>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <br/>
                <div>Are you sure you want to delete your profile?</div>
                <br/>
                <form method='POST' action='/users/<%=user._id%>?_method=DELETE'> <input type='submit' value='Delete your profile'>
                </form>
                <br/>
                *Warning: this will delete your profile, all associated information and all memes associated with your username!
            </div>
        </div>
    <section>
        <a href="/users/<%=user._id%>/edit">Edit</a>
    </section>
<% } %>
</main>
<%- include('../partials/footer')%>