<%- include('../partials/header', {title: 'Memodex: User Profile'})%>
<%- include('../partials/logout')%>
<header>
<h1>Hi, <%=user.username%></h1>
</header>
<main>
Name: <%=user.name%><br/>
Username:<%=user.username%><br/>
Email:<%=user.email%><br/>
Date of birth:<%=user.dob%><br/>
profileImg:<img src='<%=user.profileImg%>' alt='user profile photo'><br/>
<a href='/memes/new'>click here to add a meme</a><br/>
Your Memes:
    <section class='memes'>
        <% for(let i = 0; i < memes.length; i++){ %>
                    <div>
                        <% if(memes[i].isVideo){%>
                            <div class="iframe-div">
                            <iframe width="200" height="118" src="<%=memes[i].urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='memeImg'></iframe>
                            <a href="/memes/<%=memes[i]._id%>" class="iframe-link"></a>
                            </div>
                        <%} else {%>
                            <a href="/memes/<%=memes[i]._id%>"><img src="<%=memes[i].urlMeme%>" class='memeImg'/></a>
                        <%}%>
                    </div>
                <% } %>
    </section>

<form method='POST' action='/users/<%=user._id%>?_method=DELETE'> <input type='submit' value='Unsubscribe and delete your profile*'>
*Warning: this will delete your profile, all associated information and all memes associated with your username!
</form>
</main>
<%- include('../partials/footer')%>