<%- include('../partials/header', {title: 'Memeodex: User Profile'})%>
<section>
<%if (userId === user._id.toString()) { %>
    <h4>Welcome, <%=user.username%></h4>
<%} else {%>
    <h4><%=user.username%>'s profile</h4>
<% } %></h4>
</header>
<main>
 <% if (userId === user._id.toString()) { %>
    Username: <%=user.username%><br/>
    Email: <%=user.email%><br/>
    <%}%>
<% if (userId === user._id.toString()) { %>
<h4><a href='/memes/new' class="clickable waves-effect waves-light">Click to add a Meme!</a></h4>
Your Memes:
<%} else {%>
Memes saved by <%=user.username%>
<%}%>
    <section class="all-meme-container">
        <% for(let i = 0; i < memes.length; i++){ %>
                    <div class="meme-img-container">
                        <% if(memes[i].isVideo){%>
                            <div class="iframe-div">
                            <iframe width="200" height="118" src="<%=memes[i].urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='memeImg'></iframe>
                            <a href="/memes/<%=memes[i]._id%>" class="iframe-link"></a>
                            </div>
                        <%} else {%>
                            <a href="/memes/<%=memes[i]._id%>"><img src="<%=memes[i].urlMeme%>" class='memeImg'/></a>
                        <%}%>
                    </div>
                <% } %>
    </section>
    <br/>
    <div class='user-show-button-container'>
    <% if (userId === user._id.toString()) { %>
    <section>
        <a href="/users/<%=user._id%>/edit" class="clickable waves-effect waves-light user-show-button">Edit your Profile</a>
    </section>
    <br/>
    <button id="myBtn4" class="clickable waves-effect waves-light user-show-button">Delete Profile</button>
        <div id="myModal4" class="my-modal">
            <div class="modal-stuff">
                <span id="close4">&times;</span>
                <div class="modal-text">Are you sure you want to delete your profile?</div>
                <br/>
                <form method='POST' action='/users/<%=user._id%>?_method=DELETE'> <input type='submit' value='Delete your profile' class="login-modal">
                </form>
                <br/>
                *Warning: this will delete your profile, all associated information and all memes associated with your username!
            </div>
        </div>
    </div>
<% } %>
</main>
<br/>
<%- include('../partials/footer')%>