<%- include('../partials/header', {title: 'Memeodex: User Profile'})%>
<header>
<%if (userId === user._id.toString()) { %>
<h4>Hi, <%=user.name%></h4>
<%} else {%>
<h4>Profile for <%=user.username%></h4>
<%}%>
</header>
<main>
<br/>
 <% if (userId === user._id.toString()) { %>
    Name: <%=user.name%><br/>
    Username: <%=user.username%><br/>
    Email: <%=user.email%><br/>
    Date of birth: <%=user.dob%><br/>
    <%}%>
<% if (userId === user._id.toString()) { %>
<a href='/memes/new'>click here to add a meme</a><br/>
Your Memes:
<%} else {%>
Memes saved by <%=user.name%>
<%}%>
    <section class="all-meme-container">
        <% for(let i = 0; i < memes.length; i++){ %>
                    <div class="meme-img-container">
                        <% if(memes[i].isVideo){%>
                            <div class="iframe-div">
                            <iframe width="200" height="118" src="<%=memes[i].urlMeme%>" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen class='memeImg'></iframe>
                            <a href="/memes/<%=memes[i]._id%>" class="iframe-link"></a>
                            </div>
                        <%} else {%>
                            <a href="/memes/<%=memes[i]._id%>"><img src="<%=memes[i].urlMeme%>" class='memeImg'/></a>
                        <%}%>
                    </div>
                <% } %>
    </section>
    <% if (userId === user._id.toString()) { %>
    <section>
        <a href="/users/<%=user._id%>/edit">Edit your Profile</a>
    </section>
    <button id="myBtn">Delete Profile</button>
        <div id="myModal" class="my-modal">
            <div class="modal-stuff">
                <span class="close">&times;</span>
                <div class="modal-text">Are you sure you want to delete your profile?</div>
                <br/>
                <form method='POST' action='/users/<%=user._id%>?_method=DELETE'> <input type='submit' value='Delete your profile'>
                </form>
                <br/>
                *Warning: this will delete your profile, all associated information and all memes associated with your username!
            </div>
        </div>
<% } %>
</main>
<%- include('../partials/footer')%>